body {
    margin: 0; 
    font-family: 'Roboto', sans-serif; 
    background-color: #1C1C1C; 
}

/* Бургер-меню */
.burger {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.burger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    transition: 0.3s;
}

/* Меню навигации */
.nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none; /* Скрываем меню по умолчанию */
    flex-direction: column;
    padding-top: 60px;
    z-index: 9;
}

.nav.active {
    display: flex; /* Показываем меню, когда оно активно */
}

.nav ul {
    list-style: none;
    padding: 0;
}

.nav ul li {
    margin: 20px 0;
    text-align: right;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 20px;
    line-height: 2;
}

.nav-item:hover {
    background-color: #383737; /* Цвет при наведении */
    transform: scale(1.05); /* Легкое увеличение при наведении */
}

/* Стили для анимации бургера при открытии */
.burger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 768px) {
    .head-content h1 {
        font-size: 30px; /* Уменьшаем размер заголовка на мобильных устройствах */
    }

    .nav {
        width: 60%; /* Ширина меню на мобильных устройствах */
    }

    .nav-item {
        font-size: 16px; /* Уменьшаем размер текста в навигации */
    }

    .nav-items {
        font-size: 24px;
        margin-left: 100px; /* Уменьшаем размер текстов в навигационных элементах */
    }
}

@media (max-width: 480px) {
    .head-content h1 {
        font-size: 24px; /* Еще больше уменьшаем размер заголовка на маленьких экранах */
    }

    .nav {
        width: 80%; /* Ширина меню на очень маленьких устройствах */
    }

    .nav-items {
        font-size: 20px; /* Уменьшаем текст еще больше */
        margin-left: 150px;
    }
}


@media (max-width: 768px) {
    .head::after {
        width: 50%; 
    }
}

@media (max-width: 480px) {
    .head::after {
        width: 100%; 
    }
}


.korpus1 {
    margin: 10px; 
    border-radius: 10px; 
    padding: 20px; 
    position: relative; 
}

.korpus2, .korpus3, .korpus4, .korpus5 {
    margin: 210px 0; 
    border-radius: 10px; 
    padding: 20px; 
    position: relative; 
}

/* Заголовки */
.korpus1 h1, .korpus2 h1, .korpus3 h1, .korpus4 h1, .korpus5 h1{
    text-align: left; 
    font-size: 36px; 
    margin: 10px; 
    color: white;
}

/* Полупрозрачный прямоугольник для текста */
.text-container {
    position: relative; 
    background-color: rgba(116, 116, 116, 0.75);
    border-radius: 10px; 
    padding: 20px; 
    margin-top: 30px; 
    width: 65%;
}

/* Информация */
.info, .info2 {
    color: white;
    text-align: justify; /* Выравнивание текста по ширине */
}

.info h2 {
    margin: 0; 
}

/* Фотографии */
.photos {
    display: flex; 
    justify-content: space-between; /* Распределение фотографий с равными отступами */
    margin: 10px 0; 
}

.photos img {
    border-radius: 10px; 
    max-height: 400px; 
    object-fit: cover; 
    margin: 10px; 
    flex: 1; 
}

/* Первое фото шире других двух */
.photos img:first-child {
    width: calc(60% - 10px); /* Ширина первого фото */
}

.photos img:not(:first-child) {
    width: calc(25% - 10px); /* Ширина остальных фотографий для равного размещения */
}

/* Кнопки */
.button {
    text-align: right; 
    margin: -100px 0; 
    margin-right: 30px;
    font-size: 25px;
}

.button .btn {
    padding: 10px 20px; 
    background-color:#6995d0; 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
}

.button .btn:hover {
    background-color: #3d63ab; 
}


@media (max-width: 768px) {
    .text-container {
        width: 90%; 
        margin: 0 auto; 
        text-align: center;
    }

    .button {
        text-align: center; 
        margin: 20px 0; 
        font-size: 16px;
    }

    .photos img {
        width: calc(50% - 10px); 
    }

    /* Скрываем второе и третье фото */
    .photos img:nth-child(2),
    .photos img:nth-child(3) {
        display: none; 
    }

    /* Уменьшаем отступы для korpus2 на мобильных */
    .korpus2, .korpus3, .korpus4, .korpus5 {
        margin: 50px 0; /* Уменьшаем отступы сверху и снизу */
    }
}

@media (max-width: 480px) {
    .photos img {
        width: 100%; 
    }
}

