body {
    margin: 0;
    font-family: 'Roboto', sans-serif; /* Применение шрифта */
}

/* Стиль шапки */
.head {
    position: relative;
    height: 100vh;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Бургер-меню */
.burger {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.burger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    transition: 0.3s;
}

/* Меню навигации */
.nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none; /* Скрываем меню по умолчанию */
    flex-direction: column;
    padding-top: 60px;
    z-index: 9;
}

.nav.active {
    display: flex; /* Показываем меню, когда оно активно */
}

.nav ul {
    list-style: none;
    padding: 0;
}

.nav ul li {
    margin: 20px 0;
    text-align: right;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 20px;
    line-height: 2;
    
}
.nav-item:hover {
    background-color: #383737; /* Цвет при наведении */
    transform: scale(1.05);    /* Легкое увеличение при наведении */
    border-radius: 30px; 

}

/* Стили для анимации бургера при открытии */
.burger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}


.head-content {
    position: absolute; 
    top: 120px; /* Отступ сверху */
    left: 20px; /* Отступ слева */
    z-index: 2; 
    text-align: left; /* Выровнять текст по левому краю */
}

.head-content h1 {
    font-size: 40px;
    color: white;
    padding: 10px 20px;
    line-height: 1.4;
    
}

.navs {
    position: absolute;
    bottom: -300px; /* Сдвиг к нижней части контейнера */
    left: 50%;    /* Центрируем по горизонтали относительно .head-content */
    transform: translateX(-55%); /* Выравниваем по центру */
}

.nav-items {
    color: white;
    padding: 12px 24px;        
    text-decoration: none;  
    font-weight: bold;
    font-size: 28px;
    border-radius: 30px;  
    transition: background-color 0.3s, transform 0.2s;
    display: inline-block;
}

.nav-items:hover {
    background-color: #383737; /* Цвет при наведении */
    transform: scale(1.05);    /* Легкое увеличение при наведении */
}



.head::before {
    content: ''; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; /* Ставим выше фона */
}
.head::after {
    content: '';
    position: absolute;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1; 
}

.head.no-rectangle::after {
    display: none; /* Скрывает прямоугольник */
}

.korpus{
    position: relative;
    height: 100vh;
    background-color: #1C1C1C;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* Фиксирует фон */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.korpus .container {
    width: 960px; /* Ограничиваем ширину контейнера, чтобы вмещать только 3 изображения */
    overflow-x: hidden; /* Скрываем полосу прокрутки */
}

.container .gallery {
    display: flex;
    gap: 20px;
    padding: 10px;
    transition: transform 0.5s ease; /* Плавный переход при прокрутке */
}

.container .gallery img {
    width: 300px; /* Устанавливаем фиксированную ширину изображения */
    height: auto;
    border-radius: 8px;
}

.container::-webkit-scrollbar {
    display: none; /* Скрываем полосу прокрутки */
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
}

.scroll-btn {
    font-size: 24px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.scroll-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}





.cost {
    position: relative;
    height: 100vh;
    background-color: #1C1C1C;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* Фиксирует фон */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cost h1 {
    position: absolute;
    top: 50px; /* Отступ сверху */
    left: 20px; /* Отступ слева */
    z-index: 2; 
    text-align: left; 
    font-size: 40px;
    color: white;
    padding: 10px 20px;
}

.cost h2 {
    position: absolute;
    top: 140px; 
    left: 20px;
    z-index: 2; 
    text-align: left;
    font-size:30px;
    color:white;
    padding: 10px 20px;
}

.cost h3 {
    position: absolute;
    top: 250px; 
    left: 20px;
    z-index: 2; 
    text-align: left;
    font-size:24px;
    color:white;
    padding: 10px 20px;
}
.tariff {
    line-height: 1.5; /* Измените значение для увеличения расстояния между строчками */
}
.cost h4 {
    position: absolute;
    top: 350px; 
    left: 20px;
    z-index: 2; 
    text-align: left;
    font-size:24px;
    color:white;
    padding: 10px 20px;
}

.cost h5 {
    position: absolute;
    top: 390px; 
    left: 20px;
    z-index: 2; 
    text-align: left;
    font-size:11px;
    color:white;
    padding: 10px 20px;
}
.cost h9 {
    position: absolute;
    top: 450px; 
    left: 20px;
    z-index: 2; 
    text-align: left;
    font-size:24px;
    color:white;
    padding: 10px 20px;
}
.cost h8 {
    position: absolute;
    top: 670px; 
    left: 20px;
    z-index: 2; 
    text-align: left;
    font-size:24px;
    color:white;
    padding: 10px 20px;
}
.cost h6 {
    position: absolute;
    top: 550px;
    left: 20px;
    z-index: 2; 
    text-align: left;
    font-size:24px;
    color:white;
    padding: 10px 20px;
}
.cost h7 {
    position: absolute;
    top: 630px; 
    left: 20px;
    z-index: 2; 
    text-align: left;
    font-size:11px;
    color:white;
    padding: 10px 20px;
} 



.rooms {
    position: relative;
    height: 100vh;
    background-color: #1C1C1C;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* Фиксирует фон */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

/* Контейнер для каждого блока с картинкой и текстом */
.room-img2 {
    position: relative;  
    width: 400px;
    height: 239px;
    overflow: hidden;          /* Обрезает содержимое за пределами контейнера */
}

.room-img2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;         /* Обеспечивает покрытие всего контейнера */ 
}

.room-img2 h2 {
    position: absolute;
    bottom: 30px;      
    left: 50%;
    transform: translateX(-50%);
    color: white;    
    font-size: 20px;
    margin: 0;
}

.room-img2 a {
    display: block; /* Сделаем ссылку блочной, чтобы весь элемент был кликабельным */
}

.room-img2 img {
    transition: opacity 0.3s ease; /* Плавный переход */
}

.room-img2 a:hover img {
    opacity: 0.8; /* Уменьшаем яркость изображения при наведении */
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%; /* Половина высоты изображения */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный цвет */
    pointer-events: none; /* Чтобы наложение не блокировало клики */
    z-index: 0;
}



.bottom-img2{
    display: block; /* Отображаем как блочный элемент */
    margin: 20px auto; /* Центрируем с отступами сверху и снизу */
    max-width: 100%; /* Ограничиваем ширину до 100% родительского контейнера */
    height: auto;
}

.bottom-img3{
    display: block; /* Отображаем как блочный элемент */
    margin: 20px auto; /* Центрируем с отступами сверху и снизу */
    max-width: 100%; /* Ограничиваем ширину до 100% родительского контейнера */
    height: auto;
}

.bottom-img4{
    display: block; /* Отображаем как блочный элемент */
    margin: 20px auto; /* Центрируем с отступами сверху и снизу */
    max-width: 100%; /* Ограничиваем ширину до 100% родительского контейнера */
    height: auto;
}

.reservation {
    position: relative;
    height: 100vh;
    background-color: #1C1C1C;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* Фиксирует фон */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 

}

.reservation h1{
    position: absolute;
    top: 50px; /* Отступ сверху */
    left: 20px; /* Отступ слева */ /* Отступ слева */
    z-index: 2; 
    text-align: left; 
    font-size: 40px;
    color: white;
    padding: 10px 20px;
}

#reservation form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

#reservation label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#reservation input,
#reservation select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#reservation button {
    background-color: #1C1C1C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#reservation button:hover {
    background-color: #383737;
}


.LK {
    position: relative;
    height: 100vh;
    background-color: #1C1C1C;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* Фиксирует фон */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 

}

.LK h1{
    position: absolute;
    top: 80px; /* Отступ сверху */
    left: 20px; /* Отступ слева */
    z-index: 2; 
    text-align: left; 
    font-size: 40px;
    color: white;
    padding: 10px 20px;
}