body {
    margin: 0;
    font-family: 'Roboto', sans-serif; /* Применение шрифта */
    background-color: #1C1C1C;
}

/* Стиль шапки */
.head {
    position: relative;
    height: 100vh;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Бургер-меню */
.burger {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.burger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    transition: 0.3s;
}

/* Меню навигации */
.nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none; /* Скрываем меню по умолчанию */
    flex-direction: column;
    padding-top: 60px;
    z-index: 9;
}

.nav.active {
    display: flex; /* Показываем меню, когда оно активно */
}

.nav ul {
    list-style: none;
    padding: 0;
}

.nav ul li {
    margin: 20px 0;
    text-align: right;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 20px;
    line-height: 2;
    
}
.nav-item:hover {
    background-color: #383737; /* Цвет при наведении */
    transform: scale(1.05);    /* Легкое увеличение при наведении */
    border-radius: 30px; 

}

/* Стили для анимации бургера при открытии */
.burger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.head-content {
    position: absolute; 
    top: 120px; /* Отступ сверху */
    left: 20px; /* Отступ слева */
    z-index: 2; 
    text-align: left; /* Выровнять текст по левому краю */
}

.head-content h1 {
    font-size: 40px;
    color: white;
    padding: 10px 20px;
    line-height: 1.4;
    
}

.navs {
    position: absolute;
    bottom: -300px; /* Сдвиг к нижней части контейнера */
    left: 50%;    /* Центрируем по горизонтали относительно .head-content */
    transform: translateX(-55%); /* Выравниваем по центру */
}

.nav-items {
    color: white;
    background-color:  #6995d0;
    padding: 12px 24px;        
    text-decoration: none;  
    font-weight: bold;
    font-size: 28px;
    border-radius: 5px;  
    transition: background-color 0.3s, transform 0.2s;
    display: inline-block;
}

.nav-items:hover {
    background-color: #3d63ab; /* Цвет при наведении */
    transform: scale(1.05);    /* Легкое увеличение при наведении */
}


.head::before {
    content: ''; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; /* Ставим выше фона */
}
.head::after {
    content: '';
    position: absolute;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1; 
}

.head.no-rectangle::after {
    display: none; /* Скрывает прямоугольник */
}


/* КОРПУСЫ */
.korpus {
    position: relative;
    height: 100vh; 
    display: flex;
}
.photos {
    position: absolute;  
    top: 100px;
    left: 50px;
    height: 250px;
    width: 400px;
}
.photos img {
    height: 100%;
    width: 100%;
    object-fit: cover;  
    border-radius: 25px;
    
}
.text {
    position: absolute; /* Или relative, fixed, sticky */
    top: 330px; /* Отступ сверху */
    left: 100px; /* Отступ слева */
    z-index: 5; 
    text-align: left; 
    font-size: 12px;
    color: white;
    padding: 10px 20px;
} 
.photos img {
    transition: opacity 0.3s ease; /* Плавный переход */
}
.photos a:hover img {
    opacity: 0.5; /* Уменьшаем яркость изображения при наведении */
}


.photos2 {
    position: absolute;  
    top: 100px;
    left: 510px;
    height: 250px;
    width: 400px;
}
.photos2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;  
    border-radius: 25px;
    
}
.text2 {
    position: absolute; /* Или relative, fixed, sticky */
    top: 330px; /* Отступ сверху */
    left: 550px; /* Отступ слева */
    z-index: 5; 
    text-align: left; 
    font-size: 12px;
    color: white;
    padding: 10px 20px;
}
.photos2 img {
    transition: opacity 0.3s ease; /* Плавный переход */
}
.photos2 a:hover img {
    opacity: 0.5; /* Уменьшаем яркость изображения при наведении */
}


.photos3 {
    position: absolute;  
    top: 100px;
    left: 970px;
    height: 250px;
    width: 400px;
}
.photos3 img {
    height: 100%;
    width: 100%;
    object-fit: cover;  
    border-radius: 25px;
    
}
.text3 {
    position: absolute; /* Или relative, fixed, sticky */
    top: 330px; /* Отступ сверху */
    left: 1020px; /* Отступ слева */
    z-index: 5; 
    text-align: left; 
    font-size: 12px;
    color: white;
    padding: 10px 20px;
}
.photos3 img {
    transition: opacity 0.3s ease; /* Плавный переход */
}
.photos3 a:hover img {
    opacity: 0.5; /* Уменьшаем яркость изображения при наведении */
}


.photos4 {
    position: absolute;  
    top: 470px;
    left: 290px;
    height: 250px;
    width: 400px;
}
.photos4 img {
    height: 100%;
    width: 100%;
    object-fit: cover;  
    border-radius: 25px;
    
}
.text4 {
    position: absolute; /* Или relative, fixed, sticky */
    top: 700px; /* Отступ сверху */
    left: 350px; /* Отступ слева */
    z-index: 5; 
    text-align: left; 
    font-size: 12px;
    color: white;
    padding: 10px 20px;
}
.photos4 img {
    transition: opacity 0.3s ease; /* Плавный переход */
}
.photos4 a:hover img {
    opacity: 0.5; /* Уменьшаем яркость изображения при наведении */
}


.photos5 {
    position: absolute;  
    top: 470px;
    left: 760px;
    height: 250px;
    width: 400px;
}
.photos5 img {
    height: 100%;
    width: 100%;
    object-fit: cover;  
    border-radius: 25px;
    
}
.text5 {
    position: absolute; /* Или relative, fixed, sticky */
    top: 700px; /* Отступ сверху */
    left: 810px; /* Отступ слева */
    z-index: 5; 
    text-align: left; 
    font-size: 12px;
    color: white;
    padding: 10px 20px;
}
.photos5 img {
    transition: opacity 0.3s ease; /* Плавный переход */
}
.photos5 a:hover img {
    opacity: 0.5; /* Уменьшаем яркость изображения при наведении */
}



.cost {
    position: relative;
    height: 100vh;
    background-color: #1C1C1C;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* Фиксирует фон */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cost h1 {
    position: absolute;
    top: -5px; /* Отступ сверху */
    left: 30px; /* Отступ слева */
    z-index: 2; 
    text-align: left; 
    font-size: 40px;
    color: white;
    padding: 10px 20px;
}

.cost h2 {
    position: absolute;
    top: 140px; 
    left: 20px;
    z-index: 2; 
    text-align: left;
    font-size:30px;
    color:white;
    padding: 10px 20px;
}

.cost h3 {
    position: absolute;
    top: 250px; 
    left: 20px;
    z-index: 2; 
    text-align: left;
    font-size:24px;
    color:white;
    padding: 10px 20px;
}
.tariff {
    line-height: 1.5; /* Измените значение для увеличения расстояния между строчками */
}
.cost h4 {
    position: absolute;
    top: 350px; 
    left: 20px;
    z-index: 2; 
    text-align: left;
    font-size:24px;
    color:white;
    padding: 10px 20px;
}

.cost h5 {
    position: absolute;
    top: 390px; 
    left: 20px;
    z-index: 2; 
    text-align: left;
    font-size:11px;
    color:white;
    padding: 10px 20px;
}
.cost h9 {
    position: absolute;
    top: 450px; 
    left: 20px;
    z-index: 2; 
    text-align: left;
    font-size:24px;
    color:white;
    padding: 10px 20px;
}
.cost h8 {
    position: absolute;
    top: 670px; 
    left: 20px;
    z-index: 2; 
    text-align: left;
    font-size:24px;
    color:white;
    padding: 10px 20px;
}
.cost h6 {
    position: absolute;
    top: 550px;
    left: 20px;
    z-index: 2; 
    text-align: left;
    font-size:24px;
    color:white;
    padding: 10px 20px;
}
.cost h7 {
    position: absolute;
    top: 630px; 
    left: 20px;
    z-index: 2; 
    text-align: left;
    font-size:11px;
    color:white;
    padding: 10px 20px;
} 


/*КОМНАТЫ */
.rooms {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
}
/* Контейнер для каждого блока с картинкой и текстом */
.room-img2 {
    position: relative;  
    width: 400px;
    height: 239px;
    overflow: hidden;
    margin: 10px;
    border-radius: 25px;
}
.room-img2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
    border-radius: 25px;       
}
.room-img2 h2 {
    position: absolute;
    bottom: 30px;      
    left: 50%;
    transform: translateX(-50%);
    color: white;    
    font-size: 20px;
    margin: 0;
}
.room-img2 a {
    display: block; /* Сделаем ссылку блочной, чтобы весь элемент был кликабельным */
}
.room-img2 img {
    transition: opacity 0.3s ease; /* Плавный переход */
}
.room-img2 a:hover img {
    opacity: 0.5; /* Уменьшаем яркость изображения при наведении */
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%; /* Половина высоты изображения */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный цвет */
    pointer-events: none; /* Чтобы наложение не блокировало клики */
    z-index: 0;
}

.bottom-img2{
    display: block; /* Отображаем как блочный элемент */
    margin: 20px auto; /* Центрируем с отступами сверху и снизу */
    max-width: 100%; /* Ограничиваем ширину до 100% родительского контейнера */
    height: auto;
}

.bottom-img3{
    display: block; /* Отображаем как блочный элемент */
    margin: 20px auto; /* Центрируем с отступами сверху и снизу */
    max-width: 100%; /* Ограничиваем ширину до 100% родительского контейнера */
    height: auto;
}

.bottom-img4{
    display: block; /* Отображаем как блочный элемент */
    margin: 20px auto; /* Центрируем с отступами сверху и снизу */
    max-width: 100%; /* Ограничиваем ширину до 100% родительского контейнера */
    height: auto;
}


/* БРОНИРОВАНИЕ */

.photo {
    position: absolute;  
    height: 100%;
    width: 60%; /* Изменяем ширину на 50% */
    right: 0;   /* Сдвигаем блок вправо */
}

.photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;  
}

.reservation {
    left: 0;
    width: 40%; /* Занимает 40% ширины экрана */
    height: 100vh; /* Занимает всю высоту экрана */
    background-color: #b1b1b1; /* Цвет фона формы */
    padding: 20px;
    box-sizing: border-box; /* Чтобы padding не увеличивал ширину */
}

#reservation {
    padding: 30px; /* Отступ внутри контейнера формы */
}

#reservation form {
    width: 100%;/* Занимает всю ширину контейнера формы */
    background-color: #b1b1b1; /* Цвет фона формы */
    padding: 30px; /* Отступы внутри формы */
    box-sizing: border-box; /* Учитываем границы и отступы в ширине */
}

#reservation label {
    display: block; /* Метки располагаются на новой строке */
    margin-bottom: 10px; /* Отступ снизу */
    font-weight: bold; /* Жирный шрифт для меток */
    color: black;
    font-size: 20;
}

#reservation input,
#reservation select {
    width: 100%; /* Поля ввода растягиваются на всю ширину формы */
    padding: 8px; /* Внутренние отступы */
    margin-bottom: 30px; /* Отступ снизу поля */
    border-radius: 5px; /* Закругление углов */
    border: 1px solid #ccc; /* Цвет рамки */
}

#reservation button {
    background-color: #6995d0; /* Цвет фона кнопки */
    color: white; /* Цвет текста на кнопке */
    font-size: 20px;
    padding: 10px 20px; /* Внутренние отступы кнопки */
    border: none; /* Убираем рамку */
    border-radius: 4px; /* Закругление углов кнопки */
    cursor: pointer; /* Курсор-указатель */
    width: 150px; /* Фиксированная ширина */
    height: 50px; /* Фиксированная высота */
    margin-left: 140px;
    
}

#reservation button:hover {
    background-color: #3d63ab; /* Цвет кнопки при наведении */
}


.LK {
    position: relative;
    height: 100vh;
    display: flex;
}

.LK h1{
    position: absolute;
    top: -5px; /* Отступ сверху */
    left: 30px;  
    z-index: 2; 
    text-align: left; 
    font-size: 40px;
    color: white;
    padding: 10px 20px;
}

.LK h2{
    position: absolute;
    top: 60px; /* Отступ сверху */
    left: 30px;  
    z-index: 2; 
    text-align: left; 
    font-size: 30px;
    color: white;
    padding: 10px 20px;
}


.footer {
    background-color: #333; /* Темный фон для футера */
    color: #ffffff; /* Белый текст */
    text-align: left; /* Выровнять текст слева */
    padding: 20px; /* Отступы внутри футера */
    position: relative; /* Позиционирование футера */
    bottom: 0; /* Привязка к нижней части страницы */
    width: 100%; /* Ширина футера */
}

.footer-content {
    max-width: 1200px; /* Максимальная ширина содержимого */
    margin: 0 auto; /* Центрирование содержимого */
}

.contact-info {
    display: flex; /* Flexbox для выравнивания элементов */
    justify-content: space-between; /* Расположение элементов с пространством между */
    align-items: flex-start; /* Выравнивание по верхнему краю */
    margin-bottom: 15px; /* Отступ снизу для разделения с остальным контентом */
}

.left-info {
    flex: 1; /* Занимает все пространство слева */
}

.right-info {
    flex: 1; /* Занимает все пространство справа */
}

a {
    color: #ffffff; /* Белый цвет для ссылок */
    text-decoration: underline;
}

a:hover {
    color: #cccccc; /* Серый цвет при наведении */
}

h1 {
    margin-bottom: 15px; /* Отступ снизу для заголовка */
    font-size: 24px; /* Размер заголовка */
}

h2 {
    margin-top: -45px; /* Убираем верхний отступ у заголовка */
    font-size: 24px; /* Размер заголовка для адреса */
}

p {
    margin: 5px 0; /* Отступы для параграфов */
    line-height: 1.5; /* Междустрочный интервал */
}

.footer p:last-of-type {
    margin-top: 20px; /* Отступ сверху для последнего параграфа */
}
