body {
    margin: 0;
    font-family: 'Roboto', sans-serif; /* Применение шрифта */
    background-color: #1C1C1C;
}


.standart{
    position: relative;
    height: 100vh; 
    display: flex;
} 

.standart h1 {
    position: absolute;
    top: 40px; /* Отступ сверху */
    left: 60px; /* Отступ слева */
    z-index: 2; 
    text-align: left; 
    font-size: 40px;
    color: white;
    padding: 10px 20px;
}

/* Общие стили */
.wrapper {
    max-width: 600px;
    margin-left: 70px;  /* Отступ от левого края */
    overflow: hidden;
    padding-top: 20vh; /* Добавляем отступ сверху, чтобы опустить карусель */
}

.carousel {
    position: relative;
}

.carousel input {
    display: none;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/* Стили для кнопок навигации (радио-кнопки) */
.carousel-nav {
    position: absolute;
    bottom: 10px;
    left: 45%;
    transform: translateX(-50%);
    display: flex;
}

.carousel-nav label {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    cursor: pointer;
}

#slide1:checked ~ .carousel-images {
    transform: translateX(0);
}

#slide2:checked ~ .carousel-images {
    transform: translateX(-100%);
}

#slide3:checked ~ .carousel-images {
    transform: translateX(-200%);
}

#slide4:checked ~ .carousel-images {
    transform: translateX(-300%);
}

#slide5:checked ~ .carousel-images {
    transform: translateX(-400%);
}

#slide6:checked ~ .carousel-images {
    transform: translateX(-500%);
}

#slide1:checked ~ .carousel-nav label:nth-child(1),
#slide2:checked ~ .carousel-nav label:nth-child(2),
#slide3:checked ~ .carousel-nav label:nth-child(3),
#slide4:checked ~ .carousel-nav label:nth-child(4),
#slide5:checked ~ .carousel-nav label:nth-child(5),
#slide6:checked ~ .carousel-nav label:nth-child(6) {
    background-color: rgba(96, 96, 96, 0.7);
}


.info {
    width: 500px;
    height: 380px;
    background-color: rgba(116, 116, 116, 0.75); /* Серый цвет фона с прозрачностью */
    padding: 20px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column; /* Выстраиваем элементы по вертикали */
    align-items: flex-start; /* Выровняем элементы по левому краю */
    position: absolute;
    top: 20vh; /* Позиция сверху */
    right: 100px; /* Позиция справа */
    z-index: 2; /* Поднимаем элемент выше остальных */
    box-sizing: border-box;
}
.info h2 {
    font-size: 25px;
    margin: 0; /* Убираем отступы сверху и снизу у заголовка */
    margin-bottom: 10px; /* Отступ снизу для расстояния от основного текста */
    text-align: left; /* Выравниваем заголовок по левому краю */
}

.info p {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify; /* Выравнивание основного текста по ширине */
    margin: 0; /* Убираем отступы у основного текста */
}


.button {
    margin-top: 600px;
    margin-left: 280px; /* Отступ сверху, чтобы кнопка была ниже */
}

.button .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #894040; /* Цвет фона */
    color: white;
    text-align: center;
    text-decoration: none; /* Убирает подчеркивание */
    border-radius: 5px; /* Скругленные углы */
    font-size: 20px;
}

.button .btn:hover {
    background-color: #6f3333; /* Цвет при наведении */
}




.luxury{
    position: relative;
    height: 100vh; 
    display: flex;
}

.luxury h1  {
    position: absolute;
    top: 40px; /* Отступ сверху */
    left: 60px; /* Отступ слева */
    z-index: 2; 
    text-align: left; 
    font-size: 40px;
    color: white;
    padding: 10px 20px;
}

.luxury h2 {
    position: absolute;
    top: 100px; /* Отступ сверху */
    left: 60px;  /* Отступ слева */
    z-index: 2; 
    text-align: left; 
    font-size: 16px;
    color: white;
    padding: 10px 20px;

}
/* Общие стили */
.wrapper2 {
    max-width: 600px;
    margin-left: 70px; /* Отступ от левого края */
    overflow: hidden;
    padding-top: 20vh; /* Добавляем отступ сверху, чтобы опустить карусель */
}

.carousel2 {
    position: relative;
}

.carousel2 input {
    display: none;
}

.carousel-images2 {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide2 {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel2 img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/* Стили для кнопок навигации (радио-кнопки) */
.carousel-nav2 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.carousel-nav2 label {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    cursor: pointer;
}

#slide1_2:checked ~ .carousel-images2 {
    transform: translateX(0);
}

#slide2_2:checked ~ .carousel-images2 {
    transform: translateX(-100%);
}

#slide3_2:checked ~ .carousel-images2 {
    transform: translateX(-200%);
}

#slide4_2:checked ~ .carousel-images2 {
    transform: translateX(-300%);
}

#slide5_2:checked ~ .carousel-images2 {
    transform: translateX(-400%);
}

#slide6_2:checked ~ .carousel-images2 {
    transform: translateX(-500%);
}

#slide1_2:checked ~ .carousel-nav2 label:nth-child(1),
#slide2_2:checked ~ .carousel-nav2 label:nth-child(2),
#slide3_2:checked ~ .carousel-nav2 label:nth-child(3),
#slide4_2:checked ~ .carousel-nav2 label:nth-child(4),
#slide5_2:checked ~ .carousel-nav2 label:nth-child(5),
#slide6_2:checked ~ .carousel-nav2 label:nth-child(6) {
    background-color: rgba(96, 96, 96, 0.7);
}



.luxury .info {
    width: 500px;
    height: 380px;
    background-color: rgba(116, 116, 116, 0.75); /* Серый цвет фона с прозрачностью */
    padding: 20px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column; /* Выстраиваем элементы по вертикали */
    align-items: flex-start; /* Выровняем элементы по левому краю */
    position: absolute;
    top: 20vh; /* Позиция сверху */
    right: 100px; /* Позиция справа */
    z-index: 2; /* Поднимаем элемент выше остальных */
    box-sizing: border-box;
}
.luxury .info h3 {
    font-size: 25px;
    margin: 0; /* Убираем отступы сверху и снизу у заголовка */
    margin-bottom: 10px; /* Отступ снизу для расстояния от основного текста */
    text-align: left; /* Выравниваем заголовок по левому краю */
}

.luxury .info p {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify; /* Выравнивание основного текста по ширине */
    margin: 0; /* Убираем отступы у основного текста */
}


.luxury .button {
    margin-top: 600px;
    margin-left: 280px; /* Отступ сверху, чтобы кнопка была ниже */
}

.luxury .button .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #894040; /* Цвет фона */
    color: white;
    text-align: center;
    text-decoration: none; /* Убирает подчеркивание */
    border-radius: 5px; /* Скругленные углы */
    font-size: 20px;
}

.luxury .button .btn:hover {
    background-color: #6f3333; /* Цвет при наведении */
}









.suit{
    position: relative;
    height: 100vh; 
    display: flex;
} 

.suit h1 {
    position: absolute;
    top: 40px; /* Отступ сверху */
    left: 60px;  /* Отступ слева */
    z-index: 2; 
    text-align: left; 
    font-size: 40px;
    color: white;
    padding: 10px 20px;
}

.suit h2 {
    position: absolute;
    top: 100px; /* Отступ сверху */
    left: 60px;  /* Отступ слева */
    z-index: 2; 
    text-align: left; 
    font-size: 16px;
    color: white;
    padding: 10px 20px;

}
.wrapper3 {
    max-width: 600px;
    margin-left: 70px;  /* Отступ от левого края */
    overflow: hidden;
    padding-top: 20vh; /* Добавляем отступ сверху, чтобы опустить карусель */
}

.carousel3 {
    position: relative;
}

.carousel3 input {
    display: none;
}

.carousel-images3 {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-slide3 {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel3 img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.carousel-nav3 {
    position: absolute;
    bottom: 10px;
    left: 45%;
    transform: translateX(-50%);
    display: flex;
}

.carousel-nav3 label {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    cursor: pointer;
}

#slide1_3:checked ~ .carousel-images3 {
    transform: translateX(0);
}

#slide2_3:checked ~ .carousel-images3 {
    transform: translateX(-100%);
}

#slide3_3:checked ~ .carousel-images3 {
    transform: translateX(-200%);
}

#slide4_3:checked ~ .carousel-images3 {
    transform: translateX(-300%);
}

#slide5_3:checked ~ .carousel-images3 {
    transform: translateX(-400%);
}

#slide6_3:checked ~ .carousel-images3 {
    transform: translateX(-500%);
}

#slide1_3:checked ~ .carousel-nav3 label:nth-child(1),
#slide2_3:checked ~ .carousel-nav3 label:nth-child(2),
#slide3_3:checked ~ .carousel-nav3 label:nth-child(3),
#slide4_3:checked ~ .carousel-nav3 label:nth-child(4),
#slide5_3:checked ~ .carousel-nav3 label:nth-child(5),
#slide6_3:checked ~ .carousel-nav3 label:nth-child(6) {
    background-color: rgba(96, 96, 96, 0.7);
}


.suit .info {
    width: 500px;
    height: 380px;
    background-color: rgba(116, 116, 116, 0.75); /* Серый цвет фона с прозрачностью */
    padding: 20px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column; /* Выстраиваем элементы по вертикали */
    align-items: flex-start; /* Выровняем элементы по левому краю */
    position: absolute;
    top: 20vh; /* Позиция сверху */
    right: 100px; /* Позиция справа */
    z-index: 2; /* Поднимаем элемент выше остальных */
    box-sizing: border-box;
}
.suit .info h3 {
    font-size: 25px;
    margin: 0; /* Убираем отступы сверху и снизу у заголовка */
    margin-bottom: 10px; /* Отступ снизу для расстояния от основного текста */
    text-align: left; /* Выравниваем заголовок по левому краю */
}

.suit .info p {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify; /* Выравнивание основного текста по ширине */
    margin: 0; /* Убираем отступы у основного текста */
}


.suit .button {
    margin-top: 600px;
    margin-left: 280px; /* Отступ сверху, чтобы кнопка была ниже */
}

.suit .button .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #894040; /* Цвет фона */
    color: white;
    text-align: center;
    text-decoration: none; /* Убирает подчеркивание */
    border-radius: 5px; /* Скругленные углы */
    font-size: 20px;
}

.suit .button .btn:hover {
    background-color: #6f3333; /* Цвет при наведении */
}


